
<div class="modal fade" id="Modalinfo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog-centered modal-xl modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-warning text-light">
				<div class="col-10 offset-1">
					<center><h1 class="modal-title" style="color:black;">Welcome to my application!</h1></center>
				</div>
				<div class="col-1">
					<button type="button" class="float-right btn-lg btn-danger" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"><i class="far fa-window-close"></i></span>
					</button>
				</div>
			</div>
			<div class="modal-body justify-content-center">
				<h4>Please, read the information below, to understand how this application works</h4>
				<br />
				<ul>
					<li>
						At first You sholud login in to the service to get all of the functionalities:<br />
						Admin login:&emsp;<i class="text-info">admin@gmail.com</i><br />
						Password:&emsp;<i class="text-info">Admin123*</i><br />
						Now You have acces for adding:<br />
						categories, subcategories, new items, coupons,<br />
						new employees that have restricted access thanks different roles:<br />
						<ul>
							<li>Manager - full access, can assign the roles, locks and unlocks users</li>
							<li>Storekeeper - preapares orders</li>
							<li>Salesman - finalizes transactions</li>
						</ul>
						or login as a client:<br />
						Use any valid data. As a customer You can do shopping and check the status of Your orders. Admin functionalities are hide.
					</li>
					<li>
						Add items to the cart.<br />Next You have to pay and for that use test credit card numbers:
						<ul>
							<li>
								4242 4242 4242 4242 (Visa), &emsp;CVC - Any 3 digits, &emsp;Date: Any future date
							</li>
							<li>
								5555 5555 5555 4444 (MasterCard),  &emsp;CVC - Any 3 digits, &emsp;Date: Any future date
							</li>
							<li>
								3782 822463 10005 (American Express),  &emsp;CVC - Any 4 digits, &emsp;Date: Any future date
							</li>
						</ul>
						see more test card numbers at: <span class="text-info"><a href="https://stripe.com/docs/testing#cards" target="_blank">Stripe - test credit card numbers.</a></span><br />
					</li>
					<li>
						Remember that You can add and remove coupons discount, that are shown on the top home page (look at animated banner).
					</li>
					<li>
						When order is placed, You can manage the order as admin, manager, storekeeper and salesman.
					</li>
					<li>
						In Order History tab menu You can check the status of Your orders, and see all Yours orders made in the past.
					</li>
					<li>
						This is a test application and feel freely to do whatever You want:)
					</li>
				</ul>
			</div>
			<div class="modal-footer bg-dark text-white">
				<i style="text-align:left;">Rafal Blaszczyk &copy; 2020 ASP.NET Core My e-commerce App</i>
			</div>
		</div>
	</div>
</div>
